.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.hidden {
  opacity: 0;
}

.wrapper {
  background-color: #fff;
}

.primary-heading {
  font-size: 46px;
  line-height: 1.4;
  margin-bottom: 25px;
}

.secondary-heading {
  font-size: 36px;
  line-height: 1.8;
  margin-bottom: 14px;
}