@include font-face('Chivo', '../fonts/chivo-v12-latin-300', 300);
@include font-face('Chivo', '../fonts/chivo-v12-latin-regular', 400);
@include font-face('Chivo', '../fonts/chivo-v12-latin-700', 700);

body {
  font-family: 'Chivo', sans-serif;
}

a {
  color: var(--text-color);
}

.primary-heading {
  font-size: 46px;
  line-height: 1.4;
  margin-bottom: 25px;
}

.sec-heading {
  font-size: 36px;
  line-height: 1.8;
  margin-bottom: 14px;
}
