header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: box-shadow .3s linear;

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 45px 0;
    transition:  padding .3s linear;
  }

  li {
    padding: 6px 0;
    margin-right: 32px;
  }

  .nav-action {
    margin-left: auto;
  }

  .btn {
    @include mQ('(max-width: 855px)') {
      border-color: $primary-color;
      color: $primary-color;

      &.active {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  .hamburger-icon {
    display: none;
    padding: 8px;
    vertical-align: middle;

    @include mQ('(max-width: 855px)') {
      display: inline-block;
    }

    .bar {
      width: 20px;
      height: 2px;
      background-color: #000;
      margin-bottom: 0.3rem;
      transition: transform 0.3s;
    }

    .bar:nth-child(2) {
      width: 15px;
    }

    .bar:last-child {
      margin-bottom: 0;
    }
  }

  .close-icon {
    .bar:nth-child(2) {
      display: none;
    }

    .bar:nth-child(1) {
      transform: rotate(45deg) translate(0, 5px);
    }

    .bar:nth-child(3) {
      transform: rotate(-45deg) translate(0, -5px);
    }
  }

  @include mQ('(max-width: 855px)') {
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

    nav {
      padding: 15px 0;
    }
  }
}

.collapse-nav {
  display: flex;
  flex-direction: column;
  background-color: $white;
  position: absolute;
  right: 0;
  top: 100%;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  margin: 0;
  border-top: 1px solid #ccc;

  & > li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 20px;
  }

  a {
    color: #000;
  }
}

.brand-logo {
  margin-right: 116px;

  @include mQ('(max-width: 855px)') {
    margin-right: 0;
  }
}

.brand-logo > img {
  width: 123px;
  height: 39px;
}

.sticky {
  background-color: $white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

  nav {
    padding: 15px 0;
  }

  .btn {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}

// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }

//   50% {
//     opacity: 0.5;
//   }

//   100% {
//     opacity: 0;
//   }
// }
